@font-face {
  font-family: SFProText-Regular;
  src: url("/fonts/SFProText-Regular.ttf");
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("/fonts/SFProDisplay-Regular.ttf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url("/fonts/SFProDisplay-Bold.ttf");
}

@font-face {
  font-family: SFProDisplay-Heavy;
  src: url("/fonts/SFProDisplay-Heavy.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf");
}